<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="formG">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="inp-row">
                            <p>
                                <strong>กลุ่มบทความ</strong>
                            </p>
                            <select class="form-control" formControlName="article_group_id">
                                <option [value]="">-</option>
                                <option [value]="g.article_group_id" *ngFor="let g of contentG">{{g.article_group_name}}
                                </option>
                            </select>
                        </div>
                        <div class="inp-row">
                            <p>
                                <strong>รูปภาพประกอบบทความ</strong>
                            </p>
                            <div class="preview-img" (click)="uploadFile.click()">
                                <img [src]="img?.url" width="500">
                            </div>
                            <input type="file" #uploadFile accept=".png, .jpg, .jpeg" id="file"
                                (change)="onChangeFile($event)">
                        </div>
                        <div class="inp-row">
                            <p>
                                <strong>หัวเรื่องบทความ</strong>
                            </p>
                            <input type="text" class="form-control" formControlName="title">
                        </div>
                        <div class="inp-row">
                            <p>
                                <strong>เนื้อหาบทความ</strong>
                            </p>
                            <angular-editor [placeholder]="'Enter text here...'" formControlName="content"
                                [config]="config"></angular-editor>
                        </div>
                        <div class="inp-row">
                            <p>
                                <strong>Hashtag</strong>
                            </p>
                            <input type="text" placeholder="เช่น #Deltafood #ระบบร้านอาหาร #โปรแกรมPOS"
                                class="form-control" formControlName="hashtag">
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-success btn-fill" (click)="save()" [disabled]="formG.invalid">บันทึก</button>
                            <button class="btn btn-sm btn-fill" routerLink="/contents">กลับ</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>