<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div>
                            <button class="btn btn-add btn-primary btn-fill" (click)="addArticle()">เพิ่มบทความ</button>
                            <p class="category">จำนวนทั้งหมด 999 บทความ</p>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ชื่อบทความ</th>
                                    <th>ยอดวิว</th>
                                    <th>วันที่สร้าง</th>
                                    <th>วันที่อัพเดท</th>
                                    <th>จัดการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of groups">
                                    <td>{{item.title}}</td>
                                    <td>0</td>
                                    <td>{{item.create_date}}</td>
                                    <td>{{item.update_date}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-warning btn-fill">แก้ไข</button>
                                            <button class="btn btn-sm btn-danger btn-fill">ลบ</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>